<div class="signup-container">
    <mat-form-field>
        <input matInput i18n-placeholder placeholder="Firstname">
    </mat-form-field>
    <mat-form-field>
        <input matInput i18n-placeholder placeholder="Lastname">
    </mat-form-field>
    <mat-form-field>
        <input matInput email i18n-placeholder placeholder="Email">
    </mat-form-field>
    <mat-form-field>
        <input matInput password i18n-placeholder placeholder="Password">
    </mat-form-field>
    <button mat-button i18n="@@registrationButton">
        Registration
    </button>
</div>
